<!DOCTYPE html>
<html>
  <head>
    <title>A Braintree Vault Payments Example</title>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/custom.css'>
  </head>
  <body>
    <div class='container'>

      <div class="col-md-offset-1 col-md-5 col-xs-12 col-sm-6">
        <p>Customer: <%= @customer.id %></p>
        <p>Plan ID: <%= @subscription.plan_id %></p>
        <p>Payment Method Token: <%= @subscription.payment_method_token %></p>
        <p>Subscription ID: <%= @subscription.id %></p>
      </div>

      <div class="col-md-offset-1 col-md-5 col-xs-12 col-sm-6">
        <%= params.ai(html: true, plain: true) %>
      </div>

    </div>
  </body>
</html>
